Repository dispatch4j/dispatch4j, changes with the labels that .github/labeler.yml gives for each.
All labels: core, spring, standalone, examples, documentation, build, ci, test

.github/labeler.yml:

core:
  - changed-files:
    - any-glob-to-any-file:
      - dispatch4j-core/**/*

spring:
  - changed-files:
    - any-glob-to-any-file:
      - dispatch4j-spring-boot-autoconfigure/**/*
      - dispatch4j-spring-boot-starter/**/*

standalone:
  - changed-files:
    - any-glob-to-any-file:
      - dispatch4j-standalone/**/*

examples:
  - changed-files:
    - any-glob-to-any-file:
      - dispatch4j-examples/**/*

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**/*

build:
  - changed-files:
    - any-glob-to-any-file:
      - build.gradle
      - settings.gradle
      - gradle.properties
      - gradlew
      - gradlew.bat
      - gradle/**/*

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/src/test/**/*'
      - '**/*Test.java'
      - '**/*Tests.java'

docs: add README
  README.md
Labels: documentation

lint: apply AOSP google style format
  build.gradle.kts
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4j.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatcher.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/exception/Dispatch4jException.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/exception/HandlerNotFoundException.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/exception/MultipleHandlersFoundException.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/CommandHandler.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/EventHandler.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerInvoker.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerRegistrar.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerRegistry.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/QueryHandler.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/RequestHandler.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/AnnotationBasedDispatch4jTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/handler/HandlerInvokerIntegrationTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/handler/HandlerRegistryTest.java
  dispatch4j-examples/src/main/java/io/github/dispatch4j/examples/EcommerceApplication.java
  dispatch4j-examples/src/main/java/io/github/dispatch4j/examples/ecommerce/controller/OrderController.java
  dispatch4j-examples/src/main/java/io/github/dispatch4j/examples/ecommerce/event/OrderCreatedEvent.java
  dispatch4j-examples/src/main/java/io/github/dispatch4j/examples/ecommerce/handler/OrderCommandHandler.java
  dispatch4j-examples/src/main/java/io/github/dispatch4j/examples/ecommerce/handler/OrderEventHandler.java
  dispatch4j-examples/src/main/java/io/github/dispatch4j/examples/ecommerce/handler/OrderQueryHandler.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/SpringHandlerRegistry.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Dispatch4jAutoConfiguration.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Dispatch4jProperties.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/Dispatch4jSpringBootIntegrationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/InterfaceBasedHandlerRegistrationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/SpringHandlerRegistryTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/Dispatch4jAutoConfigurationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/Dispatch4jPropertiesTest.java
  dispatch4j-standalone/src/main/java/io/github/dispatch4j/standalone/Dispatch4jFactory.java
  dispatch4j-standalone/src/test/java/io/github/dispatch4j/standalone/Dispatch4jFactoryTest.java
Labels: core, spring, standalone, examples, test

feat: add support for customizers
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4jBuilder.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Customizer.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Dispatch4jAutoConfiguration.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Dispatch4jProperties.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/HandlerRegistryCustomizer.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/Dispatch4jCustomizersTest.java
Labels: core, spring, test

fix: add more validation to HandlerInvoker
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerInvoker.java
Labels: core

feat: add support for handler middleware and execution chain
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4j.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerRegistration.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/DefaultMiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/HandlerMiddleware.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/LoggingMiddleware.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareContext.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/NoopMiddlewareChain.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareChainTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareContextTest.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/MiddlewareChainCustomizer.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/Dispatch4jAutoConfigurationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/MiddlewareAutoConfigurationTest.java
Labels: core, spring, test

test: add missing tests
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jBuilderTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/HandlerRegistrationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/Dispatch4jSpringBootIntegrationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/SpringHandlerRegistryTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/utils/SpringUtils.java
Labels: core, spring, test

lint: apply linter
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4jBuilder.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/Dispatch4jSpringBootIntegrationTest.java
Labels: core, spring, test

refactor: minimize cyclic dependency
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChainBuilder.java
Labels: core

feat: support mutating middleware chain
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4j.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/DefaultMiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChainBuilder.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChainMutator.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/NoopMiddlewareChain.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareChainMutatorTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareChainTest.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/MiddlewareChainCustomizer.java
Labels: core, spring, test

test: add missing tests
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/LoggingMiddlewareTest.java
Labels: core, test

lint: apply linter
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/LoggingMiddlewareTest.java
Labels: core, test

lint: apply linter
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/LoggingMiddlewareTest.java
Labels: core, test

fix: add more validation to HandlerInvoker
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerInvoker.java
Labels: core

lint: apply linter
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4jBuilder.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/Dispatch4jSpringBootIntegrationTest.java
Labels: core, spring, test

feat: add support for customizers
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4jBuilder.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Customizer.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Dispatch4jAutoConfiguration.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/Dispatch4jProperties.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/HandlerRegistryCustomizer.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/Dispatch4jCustomizersTest.java
Labels: core, spring, test

refactor: minimize cyclic dependency
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChainBuilder.java
Labels: core

feat: add support for handler middleware and execution chain
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4j.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/handler/HandlerRegistration.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/DefaultMiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/HandlerMiddleware.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/LoggingMiddleware.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareContext.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/NoopMiddlewareChain.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareChainTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareContextTest.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/MiddlewareChainCustomizer.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/Dispatch4jAutoConfigurationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/config/MiddlewareAutoConfigurationTest.java
Labels: core, spring, test

feat: support mutating middleware chain
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/Dispatch4j.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/DefaultMiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChain.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChainBuilder.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/MiddlewareChainMutator.java
  dispatch4j-core/src/main/java/io/github/dispatch4j/core/middleware/NoopMiddlewareChain.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareChainMutatorTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/MiddlewareChainTest.java
  dispatch4j-spring-boot-autoconfigure/src/main/java/io/github/dispatch4j/spring/config/MiddlewareChainCustomizer.java
Labels: core, spring, test

test: add missing tests
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jBuilderTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/HandlerRegistrationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/Dispatch4jSpringBootIntegrationTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/SpringHandlerRegistryTest.java
  dispatch4j-spring-boot-autoconfigure/src/test/java/io/github/dispatch4j/spring/utils/SpringUtils.java
Labels: core, spring, test

test: add missing tests
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/Dispatch4jTest.java
  dispatch4j-core/src/test/java/io/github/dispatch4j/core/middleware/LoggingMiddlewareTest.java
Labels: core, test
